{% extends "front/base.html" %}
{% load static %}
{% block title %} Todo app {% endblock %}
{% block extra_head %}
<script src={% static "js/index.js" %}></script>
<style>
  :root {
    --checked-image: url('{% static 'images/icon-check.svg' %}')
  }
</style>
{% endblock %}

{% block content %}

<div class="todo-app">
  <form
    class="create-todo-form"
    @submit.prevent="createTodo({ title: todoTitle, completed }, () => {
      $dispatch('reget-todos')
      todoTitle = ''
      completed = false
    })"
    x-data="{
      todoTitle: '',
      completed: false
    }">
    <input
      x-model="completed"
      class="mark-completed-todo"
      id="newTodoCheckbox"
      type="checkbox"
      name="completed">
    <input
      x-model="todoTitle"
      id="newTodoInput"
      type="text"
      name="todoTitle"
      placeholder="Create a new todo..."
      required
      >
  </form>

  <div
    x-data="{
      filter: 'all',
      todos: [],
      async refetchTodos() {
        this.todos = await getTodos()
      },
      filterTodos() {
        if (this.filter === 'all') return this.todos

        const filterFunc = this.filter === 'active' ?
          (todo) => !todo.completed :
          (todo) => todo.completed;
        return this.todos.filter(filterFunc);
      }
    }">
    <ul
      class="todo-list"
      @click="handleTodoListClick($event.target, () => $dispatch('reget-todos'))"
      x-init="refetchTodos()"
      @reget-todos.window="refetchTodos()"
      @update-filter.window="filter = $event.detail.newFilter"
      >
      <template x-for="todo in filterTodos()">
        <li
          :class="
            `todo-list__item ${todo.completed ? 'completed' : ''}`
          "
          :id="`todo-${todo.id}`"
        >
          <input
            type="checkbox"
            class="edit-todo mark-completed-todo"
            :checked="todo.completed"
          >
          <span x-text="todo.title"></span>
          <button class="delete-todo btn">
            <img
              src={% static 'images/icon-cross.svg' %}
              alt="Delete todo">
          </button>
        </li>
      </template>
    </ul>
    <section class="todos-extra">
      <span class="items-left">
        <span x-text="todos.filter(todo => !todo.completed).length"></span>
        items left
      </span>
      <button
          class="delete-completed btn"
          @click="() => {
            todos.map(
              todo => todo.completed && deleteTodo(todo.id, () => undefined))
            $dispatch('reget-todos')
            }">
        Clear Completed
      </button>
    </section>
  </div>

  <div
    x-data="{filter: 'filter-all'}"
    x-effect="$dispatch(
      'update-filter',
      {newFilter: filter.replace('filter-', '')}
    )"
  >
    <div>
      <label for="filter-all">All</label>
      <input
        id="filter-all"
        type="radio"
        name="filter"
        value="filter-all"
        x-model="filter"
        checked
        >
    </div>
    <div>
      <label for="filter-all">Active</label>
      <input
        id="filter-active"
        type="radio"
        name="filter"
        value="filter-active"
        x-model="filter"
        >
    </div>
    <div>
      <label for="filter-all">Completed</label>
      <input
        id="filter-completed"
        type="radio"
        name="filter"
        value="filter-completed"
        x-model="filter"
        >
    </div>
  </div>
</div>

<button x-data="" @click="authFunc('logout')">Logout</button>

{% endblock %}
